services:
  analytics-server:
    image: grpc
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8080:8080
    container_name: grpc-server

  grpc-client:
    image: grpc
    build:
      context: .
      dockerfile: ./Dockerfile
    entrypoint: ["sh", "-c", "sleep 2 && exec java -cp grpc.jar be.cloud.StreamingAnalyticsClient"]
    depends_on:
      - analytics-server
    environment:
      - GRPC_HOST=analytics-server
      - GRPC_PORT=50051
